*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(51,51,51);
    
}

/*.container{
    background-color: rgb(211,43,52);
    width: 100%;
    height:;
    border-bottom: 2px solid rgb(255,255,255);
}*/

header a{
    text-decoration: none;
    color:rgb(255,255,255);
    padding:24px;
    margin-left:0px;
    font-weight: bold;
    
}

.navbar{
    background-color: rgb(211, 43, 52);
    padding:0 20px;
    height:4em;
    display: flex;
    justify-content: space-between;
    box-shadow:2px 2px rgb(0,0,0);
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 1;
}

.navbar ul{
    list-style: none;
    height:100%;
    background-color: rgb(211, 43, 52);
    display:flex;
    align-items: center;
    justify-content: space-around;
}

nav a{
    color:rgb(255,255,255);
    padding:24px;
    margin-left:0px;
    font-weight: bold;
    
}

.brand{
    padding:24px;
    font-weight: bolder;
    color: rgb(80, 90, 146);
}
/*
header li{
    padding:20px;
    margin-left:0px;
    height: 100%;
}*/

nav a:hover{
    color:rgb(211,43,52);
    background-color: rgb(51,51,51);
    cursor: pointer;
}



.container h1{
    position: absolute;
    top:50%;
    left:50%;
   transform:translate(-50%, -50%);
   /* text-align: center;
    margin-top: -150px;
    padding-bottom: 3em;**/
    color:rgb(255,255,255);
    font-weight: bolder;
    font-size: 48px;
    text-shadow: 0px 2px rgb(2, 2, 2);
}

.container i{
    font-size:30px;
    font-weight:lighter;
    color:rgb(211,43,52);
    
}
.hamburger-icon{
    margin:auto 0;
    display:none;
    cursor: pointer;
}

.hamburger-icon div{
    width:35px;
    height:3px;
    background-color: rgb(255,255,255);
    margin:6px 0;
    transition: 0.4s;
}
.open .bar1{
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2{
    opacity: 0;
}

.open .bar3{
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}

.mobile-menu{
    display: none;
    position: absolute;
    top:4em;
    left:0;
    height:calc(100vh - 30em);
    width:100%
}

#menu li{
    margin-bottom: 10px;
    
}

@media only screen and (max-width:650px){
    header nav{
        display: none;
    }

    .hamburger-icon{
        display: block;
    }
}


#wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:20px
}

#wrapper div{
    background-color: rgb(255,255,255);
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    
}

.container2 header{
    color:rgb(255,255,255);
    font-weight: bolder;
    font-size: 40px;
    text-decoration: underline 2px solid rgb(211,43,52);
    text-align: center;
    padding-bottom: 2em;
    padding-top: 2em;
    
}

.container2{
    top:40%;
}

fieldset{
    
    border-bottom: 2px solid rgb(211, 43, 52);
    border-left:none;
    border-top:none
}

.first{
    margin-top:37%;
    border-bottom: 2px solid rgb(255, 255, 0);
}

