body
{
	background:url(img2.jpg);
    background-image: no-repeat;
    background-size:100% 100% ;
    background-attachment:fixed;
    font-size: 12px;
}

	.btn-color{
		background-color: aqua;
		color: black;
		
	}

    

	
	/*
	this is for styling all h2 tags, can be done to many other tags....
	h2{
		font-size: 16px;
		color: red
	}*/
	
